<h1>New Tweet </h1>
<form action="/tweets" method="POST">
    <lable for="content">Content:</lable>
    <input type="text" id="content" name="content"><br>
    <br>
    <button type="submit" value="submit">Submit</button>
</form>
