<h1>Login </h1>
<form action="/login" method="POST">
    <lable for="username">Username:</lable>
    
    <input type="text" id="username" name="username"><br>

    <lable for="password">Password:</lable>
    <input type="text" id="password" name="password"><br>
    <br>
    <button type="submit" value="submit">Submit</button>
</form>

